# general
**/.DS_Store

# zsh plugs
.zsh/.zplug/
.zsh/plugins/

# vim plugs
.vim/plugged

# tmux plugs
.tmux/plugins/*
!.tmux/plugins/tpm
.tmux/resurrect/*

# libs
.local/lib/*

# useless
.config/*
!.config/mpv
!.config/lemonbar
!.config/bspwm
!.config/fontconfig
!.config/sxhkd
!.config/qutebrowser
