# general
**/.DS_Store

# zsh plugs
.zsh/.zplug/
.zsh/plugins/

# vim plugs
.vim/plugged

# tmux plugs
.tmux/plugins/*
!.tmux/plugins/tpm
.tmux/resurrect/*

# useless
.config/gwenviewrc
.config/discord
.config/Caprine
.config/pulse
.config/dconf
.config/mps-youtube
.config/*
!.config/mpv
!.config/lemonbar
!.config/bspwm
!.config/fontconfig
!.config/sxhkd
