# general
**/.DS_Store

# zsh plugs
.zsh/.zplug/
.zsh/plugins/

# vim plugs
.vim/plugged

# tmux plugs
.tmux/plugins/*
.tmux/resurrect/*

# useless
.config/gwenviewrc
.config/discord
.config/Caprine
.config/pulse
.config/dconf
.config/mpv
.config/mps-youtube
